[
    {plum_db, [
        {aae_enabled, true},
        % {wait_for_hashtrees, false},
        % {wait_for_aae_exchange, false},
        {store_open_retries_delay, 2000},
        {store_open_retry_Limit, 30},
        {data_exchange_timeout, 60000},
        {hashtree_timer, 30000},
        {data_dir, "data"},
        {partitions, 8},
        {prefixes, [
            {ram, ram},
            {ram_disk, ram_disk},
            {disk, disk}
        ]}
    ]},
    {partisan, [
        {connect_disterl, false},
        {channels, [gossip, rpc, membership]},
        {peer_ip, {127,0,0,1}},
        {peer_port, 18086},
        {parallelism, 1},
        {pid_encoding, false},
        {exchange_tick_period, 60000},
        {lazy_tick_period, 1000},
        {partisan_peer_service_manager,
          partisan_pluggable_peer_service_manager}
    ]},
    {kernel, [
        {logger_level, info},
        {logger, [
            % {handler, default, undefined},
            {handler, default, logger_std_h, #{
                formatter => {
                    logger_formatter, #{
                        legacy_header => false,
                        single_line => false
                    }
                }
            }}
        ]}
    ]}
].